/* Write your code here. */
.thumbnail_container {
  margin-bottom: 16px;
}

.button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  list-style-type: none;
  border-width: 0px;
}

.thumbnail_btn {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.activated_thumbnail_btn {
  opacity: 1;
  width: 40px;
  height: 40px;
}
